/* Font */
@font-face {
    font-family: "Quicksand";
    src: url(Quicksand-Regular.ttf);
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    font-family: "Quicksand";
    color: whitesmoke;
    background-image: url(./images/home.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    margin: 0;
    padding: 20px;
    height: 100vh;
}


#main-container {
    width: 50%; /* Adjust the width to your desired percentage */
    height: 40%;
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgba(68, 67, 67, 0.9); /* Adjust the alpha value for transparency */
    padding: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 105px 45px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 0px 105px 45px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 105px 45px rgba(255, 255, 255, 0.1);
}

.button-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    border-radius: 8px;
    width: 60%; /* Adjust the width to your desired percentage */
    height: 50%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(68, 67, 67, 0.9); /* Adjust the alpha value for transparency */
    text-align: center;
}

/* Sidebar Content */
.sidebar-content {
    width: 50%; /* Adjust the width to your desired percentage */
    height: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

/* Sidebar Content */
.sidebar-content {
    padding: 10px; /* Decrease padding to make it closer to the content */
}

/* Infotext Style */
#infotext {
    font-size: 15px;
    margin: 0; /* Remove top margin to reduce spacing */
}

/* Heading Style */
.sidebar-content h2 {
    color: whitesmoke;
    font-size: 20px;
    margin: 0; /* Remove margin for the heading to be flush with the top */
}


/* Heading Style for sidebar content */
.sidebar-content h3 {
    color: whitesmoke;
    font-size: 20px;
    margin: 0; /* Remove margin for the heading to be flush with the top */
}

.creators-container {
    display: flex; /* Use flexbox to display the creator names in a row */
    align-items: center;
}

.creators-container a {
    color: #76cdff;
    display: inline-block; /* Display the anchors as inline-block elements */
    margin-right: 15px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

/* Add this CSS to center the buttons horizontally within the button-container */
.button-container {
    font-family: "Quicksand";
    color: whitesmoke;
    text-align: center;
}

.button-container button {
    background-color: rgba(68, 67, 67, 0.9);
    color: whitesmoke;
    margin: 10px; /* Add some margin for spacing between the buttons */
    border-radius: 8px;
}