/* Font */
@font-face {
    font-family: "Quicksand";
    src: url(Quicksand-Regular.ttf);
}

body {
    display: flex;
    font-family: "Quicksand";
    background-image: url(./images/musclegym.gif);
    color: whitesmoke;
    background-color: rgba(68, 67, 67, 0.9);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    width: 50%; /* Adjust the width to your desired percentage */
    height: 40%;
    margin: 0 auto;
    background-color: rgba(68, 67, 67, 0.9); /* Adjust the alpha value for transparency */
    padding: 20px;
    border-radius: 8px;
}

/* Heading */
h1 {
    text-align: center;
}   

/* Form Styles */
form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #333; /* Set the background color to a dark shade */
    color: whitesmoke;
    border: 1px solid #fff; /* Add a white border */
    border-radius: 8px;
    box-sizing: border-box;
}

/* Button Styles */
button {
    font-family: "Quicksand";
    background-color: #355364;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto 0;
    display: block;
}

button:hover {
    background-color: #507791;;
}

/* Plan Result */
#plan-result {
    margin-top: 20px;
}

/* Initial style for the element */
#workout-plan {
    opacity: 0; 
    transition: opacity 2s ease-in-out;
}

/* Style for the element when it's visible */
#workout-plan.visible {
    opacity: 1;
}

.top-right-button {
    position: absolute;
    top: 20px;
    padding: 10px 20px;
    background-color: #f6691e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.top-right-button:hover {
    background-color: #f1805b;
}

#plan-button {
    right: 10px;
    margin-bottom: 10px; 
}

#home-button {
    right: 110px; /* Adjust the positioning as needed */
}