@font-face {
    font-family: "Quicksand";
    src: url(Quicksand-Regular.ttf);
}

body {
    font-family: "Quicksand";
    background-image: url(/images/musclegym.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 20px;
}

#app {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* So that width includes padding */
}

button {
    font-family: "Quicksand";
    background-color: #9dd4f8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto 0;
    display: block;
}

button:hover {
    background-color: #45b8fb;
}

#plan-result {
    margin-top: 20px;
}

